name: Veracode Pipeline Scan - Generate JSON

on:
  workflow_dispatch:

jobs:
  pipeline_scan:
    runs-on: ubuntu-latest
    name: Veracode Pipeline Scan (Generate Results)

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create package for scan (zip)
        run: |
          zip -r nodegoat.zip . \
            -x "node_modules/*" ".git/*" ".github/*"

      - name: Run Veracode Pipeline Scan
        id: pipeline-scan
        uses: veracode/Veracode-pipeline-scan-action@v1.0.20
        with:
          vid: ${{ secrets.VERACODE_API_ID }}
          vkey: ${{ secrets.VERACODE_API_KEY }}
          file: "nodegoat.zip"
          fail_build: false   # aqui é só pra gerar o JSON mesmo

      - name: Upload results.json as artifact
        uses: actions/upload-artifact@v4
        with:
          name: veracode-pipeline-scan-results
          path: results.json
